{% extends 'base.html' %}


{% block title %}
    <title>Пленка</title>
{% endblock %}


{% block body %}
    <div class="container">
        <h1>Высечки для пленки</h1>
    </div>
        {% if visechki|length > 0 %}
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                {% for el in visechki %}
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Высечка {{ el.size }}</h4>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li><h5>Форма - {{ el.form }}</h5></li>
                                        <li><h5>Вал - {{ el.shaft }}</h5></li>
                                        <li><h5>Ручьев - {{ el.streams }}</h5></li>
                                        <li><h5>Элементов в ручье - {{ el.el_in_streams }}</h5></li>
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Детально</button>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Пока отсутствуют высечки</p>
        {% endif %}

{% endblock %}